In [ ]:
import pandas as pd

In [14]:
pov_training = pd.read_csv("../data/train_hh_features.csv")

pov_consumption = pd.read_csv("../data/train_hh_gt.csv")

pov_rates = pd.read_csv("../data/train_rates_gt.csv")

(104234, 88)

(3, 20)

In [30]:
pov_training.info()

pov_consumption.info()

pov_rates.info()

pov_training.sample(5)

<class 'pandas.DataFrame'>
RangeIndex: 104234 entries, 0 to 104233
Data columns (total 88 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   hhid               104234 non-null  int64
 1   com                104234 non-null  int64
 2   weight             104234 non-null  int64
 3   strata             104234 non-null  int64
 4   utl_exp_ppp17      104149 non-null  float64
 5   male               104234 non-null  str
 6   hsize              104234 non-null  int64
 7   num_children5      104234 non-null  int64
 8   num_children10     104234 non-null  int64
 9   num_children18     104234 non-null  int64
 10  age                104234 non-null  int64
 11  owner              104234 non-null  str
 12  water              104234 non-null  str
 13  toilet             104234 non-null  str
 14  sewer              104234 non-null  str
 15  elect              104234 non-null  str
 16  water_source       104234 non-null  str
 17  sanitation_source  104234 non-null  str
 18  dweltyp            103028 non-null  str
 19  num_adult_female   104234 non-null  int64
 20  num_adult_male     104234 non-null  int64
 21  num_elderly        104234 non-null  int64
 22  employed           104189 non-null  str
 23  sworkershh         104234 non-null  float64
 24  share_secondary    104211 non-null  float64
 25  educ_max           104211 non-null  str
 26  sfworkershh        104234 non-null  float64
 27  any_nonagric       104234 non-null  str
 28  sector1d           90105 non-null   str
 29  region1            104234 non-null  int64
 30  region2            104234 non-null  int64
 31  region3            104234 non-null  int64
 32  region4            104234 non-null  int64
 33  region5            104234 non-null  int64
 34  region6            104234 non-null  int64
 35  region7            104234 non-null  int64
 36  urban              104234 non-null  str
 37  consumed100        104232 non-null  str
 38  consumed200        104232 non-null  str
 39  consumed300        104232 non-null  str
 40  consumed400        104232 non-null  str
 41  consumed500        104232 non-null  str
 42  consumed600        104233 non-null  str
 43  consumed700        104232 non-null  str
 44  consumed800        104233 non-null  str
 45  consumed900        104233 non-null  str
 46  consumed1000       104230 non-null  str
 47  consumed1100       104230 non-null  str
 48  consumed1200       104229 non-null  str
 49  consumed1300       104229 non-null  str
 50  consumed1400       104229 non-null  str
 51  consumed1500       104231 non-null  str
 52  consumed1600       104230 non-null  str
 53  consumed1700       104229 non-null  str
 54  consumed1800       104230 non-null  str
 55  consumed1900       104230 non-null  str
 56  consumed2000       104231 non-null  str
 57  consumed2100       104230 non-null  str
 58  consumed2200       104227 non-null  str
 59  consumed2300       104231 non-null  str
 60  consumed2400       104233 non-null  str
 61  consumed2500       104230 non-null  str
 62  consumed2600       104227 non-null  str
 63  consumed2700       104232 non-null  str
 64  consumed2800       104229 non-null  str
 65  consumed2900       104227 non-null  str
 66  consumed3000       104224 non-null  str
 67  consumed3100       104221 non-null  str
 68  consumed3200       104219 non-null  str
 69  consumed3300       104214 non-null  str
 70  consumed3400       104212 non-null  str
 71  consumed3500       104210 non-null  str
 72  consumed3600       104211 non-null  str
 73  consumed3700       104205 non-null  str
 74  consumed3800       104199 non-null  str
 75  consumed3900       104194 non-null  str
 76  consumed4000       104196 non-null  str
 77  consumed4100       104194 non-null  str
 78  consumed4200       104190 non-null  str
 79  consumed4300       104182 non-null  str
 80  consumed4400       104182 non-null  str
 81  consumed4500       104180 non-null  str
 82  consumed4600       104178 non-null  str
 83  consumed4700       104182 non-null  str
 84  consumed4800       104178 non-null  str
 85  consumed4900       104178 non-null  str
 86  consumed5000       104168 non-null  str
 87  survey_id          104234 non-null  int64
dtypes: float64(4), int64(20), str(64)
memory usage: 70.0 MB
<class 'pandas.DataFrame'>
RangeIndex: 104234 entries, 0 to 104233
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   survey_id   104234 non-null  int64
 1   hhid        104234 non-null  int64
 2   cons_ppp17  104234 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 2.4 MB
<class 'pandas.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   survey_id           3 non-null      int64
 1   pct_hh_below_3.17   3 non-null      float64
 2   pct_hh_below_3.94   3 non-null      float64
 3   pct_hh_below_4.60   3 non-null      float64
 4   pct_hh_below_5.26   3 non-null      float64
 5   pct_hh_below_5.88   3 non-null      float64
 6   pct_hh_below_6.47   3 non-null      float64
 7   pct_hh_below_7.06   3 non-null      float64
 8   pct_hh_below_7.70   3 non-null      float64
 9   pct_hh_below_8.40   3 non-null      float64
 10  pct_hh_below_9.13   3 non-null      float64
 11  pct_hh_below_9.87   3 non-null      float64
 12  pct_hh_below_10.70  3 non-null      float64
 13  pct_hh_below_11.62  3 non-null      float64
 14  pct_hh_below_12.69  3 non-null      float64
 15  pct_hh_below_14.03  3 non-null      float64
 16  pct_hh_below_15.64  3 non-null      float64
 17  pct_hh_below_17.76  3 non-null      float64
 18  pct_hh_below_20.99  3 non-null      float64
 19  pct_hh_below_27.37  3 non-null      float64
dtypes: float64(19), int64(1)
memory usage: 612.0 bytes

,hhid,com,weight,strata,utl_exp_ppp17,male,hsize,num_children5,num_children10,num_children18,...,consumed4200,consumed4300,consumed4400,consumed4500,consumed4600,consumed4700,consumed4800,consumed4900,consumed5000,survey_id
71419,304648,1,2240,4,486.95224,Female,7,2,1,2,...,No,No,No,No,No,No,Yes,No,Yes,300000
49535,217348,1,599,1,253.48775,Female,1,0,0,0,...,Yes,No,No,No,Yes,Yes,Yes,Yes,No,200000
19170,119171,1,3066,1,1169.33510,Male,3,0,0,1,...,Yes,Yes,Yes,Yes,No,Yes,No,No,No,100000
40704,208517,1,404,6,291.51089,Female,2,0,0,0,...,Yes,No,No,No,No,No,Yes,No,No,200000
24366,124367,1,380,7,419.06808,Male,4,1,1,0,...,Yes,No,No,No,No,No,No,No,Yes,100000